# .gitignore file for ECE 544 Project #1

$ cat .gitignore

# exclude everything in vivado directory
# because it generates too many file changes
# which obscure revisions to the HDL code

/vivado/*

# ignore everything in docs
# these are just PDFs and Word files
# available on D2L course website

/docs/*

# ignore the ip directory
# except for /src and /hdl in HWDET peripheral

/ip/*
!/ip/HWDET_1.0/

/ip/HWDET_1.0/*
!/ip/HWDET_1.0/drivers/
!/ip/HWDET_1.0/hdl

/ip/HWDET_1.0/drivers/HWDET_v1_0/*
!/ip/HWDET_1.0/drivers/HWDET_v1_0/src